body {
    font-family: "Open Sans", sans-serif;

}


.list {
    list-style: none;
}


.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.header {
    background-color: #ffffff;
}

/*h1, h2 {
    color: violet;
    font-family: "Raleway", sans-serif;
}
*/