:root {
    --main-color: white;
    --second-color: #303030;
    
}

body {
    font-family: "Open Sans", sans-serif;

}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-link,
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-color);;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
    color: tomato;
}

.header {
    background-color: gray;
}

.header-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--main-color);
}

/*h1, h2 {
    color: violet;
    font-family: "Raleway", sans-serif;
}
*/